# statlocker api
SL_API_KEY=
SL_API_URL=https://statlocker.gg/api
SL_MOCK_API_URL=http://localhost:9050/mock_api
DL_API_URL=api.deadlock-api.com

# server
GIN_PORT=9050

# discord bot
# DISCORD_APP_ID=
# DISCORD_PUBLIC_KEY=
# DISCORD_SECRET=
DISCORD_TOKEN=
